{% extends 'basic.html'%}
{% block title %}Insurance Analyzer{%endblock%}
{%block css%}

{%endblock%}
{%block body%}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="height:100%;margin-top:80px;background:rgb(255,95,130);padding:40px;color:white;">
        <h1>Administrator login</h1>
        <form action="/administratordataview" method="GET">
        <label> username : </label><input type="text" name="uname"/><br/>
        <label> password : </label><input type="password" name="pass"/><br/>
        <input type="submit" value="Login"/>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
{%endblock%}